@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #121212;
}

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Satoshi", sans-serif;
}

#root {
  min-height: 100vh;
  position: relative;
}

.background-animation {
  position: fixed;
  z-index: -50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    rgb(210, 107, 76),
    rgb(239, 99, 153),
    #23a5d5a2,
    #086fb8
  );
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.main-content {
  padding-top: 4rem; /* Adjust this value based on the height of your header */
}

/* styles.css */
.min-w-40 {
  min-width: 10rem; /* 160px */
}

.md\\:min-w-48 {
  min-width: 12rem; /* 192px */
}

@media (max-width: 640px) {
  .flex-grow {
    flex-direction: column;
    align-items: center;
  }
}
